body {
    margin: 0;
    padding: 0;
    background-image: url(../imgs/vaporwaveMountains_starry.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#preloader {
    background: #b7b7b7 url(../imgs/hourglass.gif) no-repeat center center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

#page-grid {
    display: grid;
    width: auto;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    margin: 0px;
    grid-row-gap: 1rem;
}

/*N A V B A R*/

#navbar-flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 1rem;
}

#navbarLink-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    width: 100%;
}

#navbarLink-grid {
    text-decoration: none;
    font-family: 'Silkscreen', cursive;
    background-color: #10050b;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    overflow-wrap: normal;
}

@media (max-width: 830px) {
    #navbarLink-grid {
    font-size: 1rem;
}
}

@media (max-width: 700px) {
    #navbarLink-grid {
    padding-top: .9rem;
    padding-bottom: .9rem;
}
}

@media (max-width: 640px) {
    #navbarLink-grid {
    font-size: .8rem;
    padding-top: .9rem;
    padding-bottom: .9rem;
}
}

@media (max-width: 500px) {
    #navbarLink-grid {
        text-align: left;
        padding-left: .5rem;
        transition: 0.3s;
}
}

#navbarLink-grid a:hover {
    background-color: #ECE0E7;
    color: #101400;
    text-decoration: none;
    transition: .1s;
}

#navbarLink-grid a {
    text-decoration: none;
    color: #ECE0E7;
    white-space: nowrap;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: .1s;
}


/*DROPDOWN BAR---------------------------------------------------------------------------*/

/* Dropdown Button */
.dropbtn {
    display: none;
    background: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    color: #ECE0E7;
}
    
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Dropdown Content (Previously Hidden by Default) */
#dropdown-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    /*position: absolute;*/
    z-index: 1;
}

/* Links inside the dropdown */
#dropdown-content a {
    color: #ECE0E7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
#dropdown-content a:hover {
    background-color: #ECE0E7;
}

@media (max-width: 690px) {
   #dropdown-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .dropbtn {
        display: block;
    }
   #dropdown-content {
        display: none;
    }
    .dropdown {
        width: 35%;
    }
    /*set #[title]-link to current page title*/
    #home-link {
        display: none;
    }
    #navbarLink-grid {
    font-size: 1rem;
    }

}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: none;
}


/*M A R Q U E E    T E X T --------------------------------------------------------------------*/

/*SCROLLING TEXT PARENT*/
.scrollBar {
    width: 100%;
    padding: 25px 0;
    overflow: hidden;
}

/*SCROLLING TEXT*/
.scrollContent {
    display: block;
    width: 100%;
    font-family: 'Silkscreen', cursive;
    text-align: center;
    font-size: 17pt;
    color: #10050b;
    /*color: #ECE0E7;*/
    transform: translateX(100%);
    animation: move 30s linear infinite;
}

@keyframes move {
  to { transform: translateX(-100%); }
}

/*T I T L E   B O X*/

.title-flexbox {
    display: flex;
    flex-direction: row ;
    margin-top: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    background-color: #da268f69;
    border-radius: 5px;
    border: 3px solid #a5186a;
}

.title-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

h1 {
    font-family: 'Silkscreen', cursive;
    text-align: left;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #10050b;
    /*text-shadow: 2px 2px 2px #ffffff;*/
    text-shadow: 2px 2px 2px #ff69f5;
    border-bottom: 2px solid #10050b;
}

/* "R E A D    M O R E" */

#readMore-flexbox {
    display: flex;
    flex-direction: row ;
    margin-top: 1rem;
    margin-bottom: 4rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fc4453eb;
    background-image: url(../imgs/grid1.png);
    border: 2px solid #260729d4;
    border-radius: 10px;
}

#readMore-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
    color: #ECE0E7;
    text-shadow: 2px 2px 2px #10050b;
    font-family: 'Silkscreen', cursive;
    letter-spacing: 5px;
    font-size: 1.5rem;
}

#aboutMe-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

#aboutMe-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 2rem auto;
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    color: #ECE0E7;
    font-family: 'Silkscreen', cursive;
    letter-spacing: 5px;
    /*font-size: 1.5rem;*/
    background-color: #b7b7b7;
    transition: 0.5s;
    align-content: center;
    padding-bottom: 2rem;
    border-radius: 10px;
}

#aboutMe-grid:hover {
    box-shadow: 10px 10px 3px #ff337a70;
}

#imageText-grid {
    display: grid;
    grid-template-columns: 10rem auto;
    margin-top: .5rem;
}

.grid-bar {
    border-radius: 10px 10px 0 0;
    background-color: blue;
    width: 100%;
}

.pfp {
    box-shadow: 5px 5px 3px #10050b;
    margin-top: .7rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    width: 100%;
}


h2 {
    color: #ECE0E7;
    font-family: 'Silkscreen', cursive;
    white-space: nowrap;
    padding: .2rem;
    font-size: 2rem;
}

h3 {
    color: #ECE0E7;
    font-family: 'Silkscreen', cursive;
    white-space: nowrap;
    padding: .2rem;
    font-size: 1.5rem;
}

.desc-text {
    color: #000000;
    font-family: 'Silkscreen', cursive;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 3.5rem;
    padding-right: .5rem;
    
}


@media (max-width: 690px) {
    #aboutMe-flexbox {
        margin-top: 2.5rem;
    }

    #aboutMe-grid {
        margin-left: 7%;
        margin-right: 7%;
    }

    #imageText-grid {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
    }

    .pfp {
        width: 60%;
        margin-left: 4.5rem;
        margin-right: 4.5rem;
    }

    .desc-text {
        text-align: center;
        padding-left: .5rem;
    }
}